<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Identify New Bikes">
<!-- 	<test name="Smoke Testing"> -->
<!-- 		<classes> -->
<!-- 			<class name="Base.Base" /> -->
<!-- 			<class name="TestSuite.SmokeTest" /> -->
<!-- 			</classes> -->
<!-- 	</test> -->
	<test name="FunctionalTesting">
		<classes>
<!-- 			<class name="Base.Base" /> -->
<!-- 			<class name="TestSuite.BikesTest" /> -->
<!-- 			<class name="TestSuite.UsedCarsTest" /> -->
<!-- 			<class name="TestSuite.LoginTest" /> -->
			<class name="TestSuite.Tests" />
		</classes>
	</test>
</suite>